body {
    margin-top: 150px; /* Adjust padding if needed */
}
.credit-card {
    background-color: #1b2b40;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px; /* Restricts the width */
    margin: 20px auto; /* Centers the card */
}

.container h1 {
    font-size: 45px;
    color: #1b2b40;
}

.credit-card h2 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #d9aa52;
    text-align: center;
    font-weight: bold;
}

.credit-card p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.credit-card .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Adds space between columns */
}

.credit-card .contributors ul {
    list-style-type: none;
    padding: 0;
    flex: 1 1 45%;
    margin: 0;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.credit-card .contributors ul li {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 8px;
}

.credit-card .contributors ul li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
    display: inline-block;
    width: 100%; /* Makes the clickable area wider */
    padding: 5px 0;
}

.credit-card .contributors ul li a:hover {
    color: #0056b3;
    background-color: #f0f8ff; /* Adds a hover background */
    border-radius: 3px;
}

.credit-card .contributors ul li:last-child {
    margin-bottom: 0;
}

.credit-card ul.contributors-info {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.credit-card ul.contributors-info li {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}
