main {
    padding: 60px 20px;
    padding-top: 220px; /* Ensure content is below the navbar */
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* Center align the text inside the main content */
}

#questions-container {
    margin-top: 20px; /* Add some margin to move it down from the navbar */
    width: 100%;
}

.question-card {
    background-color: #1b2b40;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%; /* Make width 100% */
    margin-bottom: 20px;
    padding: 20px;
    color: #ffffff;
    text-align: center; /* Center align the text inside the card */
}

.question-card h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.question-card img {
    width: 100%;
    height: 300px; /* Fixed height */
    object-fit: contain; /* Maintain aspect ratio */
    margin-bottom: 15px;
}

.question-card label {
    display: block;
    margin-bottom: -1px; /* Reduce margin to bring labels closer */
    font-size: 18px; /* Increase font size */
    padding: 15px 0; /* Increase padding for larger size */
    border: 1px solid #ffffff; /* Add border to label */
    border-radius: 5px; /* Reduce border-radius for a more square shape */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s, color 0.3s; /* Add transition for background and color */
    background-color: #ffffff; /* Background color of labels */
    color: #1b2b40; /* Text color of labels */
}

.question-card label:hover {
    background-color: #d9aa52; /* Change background color on hover */
    color: #1b2b40; /* Change text color on hover */
}

.question-card input[type="radio"] {
    display: none; /* Hide radio buttons */
}

.question-card input[type="radio"]:checked + label {
    background-color: #d9aa52; /* Change background color when selected */
    color: #1b2b40; /* Change text color when selected */
}

#submit-quiz {
    background-color: #d9aa52;
    color: #ffffff; /* Change text color to white */
    border: none;
    border-radius: 5px; /* Slightly rounded corners */
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-self: center;
    display: block; /* Block display for full-width */
    margin: 20px auto; /* Center align and add margin */
    width: 100%; /* Stretch to the full width of the parent container */
    max-width: 1200px; /* Ensure it doesn't exceed the main container width */
}

#submit-quiz:hover {
    background-color: #b28f3e;
    transform: translateY(-3px);
}

#navigation-buttons {
    display: flex;
    justify-content: space-between; /* Distribute buttons evenly */
    margin-top: 20px; /* Margin to move it down */
}

#prev-button, #next-button {
    background-color: #d9aa52;
    color: #1b2b40;
    border: none;
    border-radius: 30px;
    padding: 15px 25px; /* Increase padding for bigger buttons */
    font-size: 18px; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block; /* Inline block for better alignment */
    margin: 10px; /* Margin to separate buttons */
}

#prev-button:hover, #next-button:hover {
    background-color: #b28f3e;
    transform: translateY(-3px);
}


#prev-button:hover, #next-button:hover {
    background-color: #b28f3e;
    transform: translateY(-3px);
}

#prev-button {
    visibility: hidden; /* Hide but reserve space */
}

#next-button {
    margin-left: auto; /* Push next button to the right */
}
