/** 
 * General Styles 
 */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/** 
 * Container Styles 
 */
.container, .course-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

/** 
 * Course Title Styles 
 */
.upload-course-title {
    margin-bottom: 20px;
    color: #1b2b40;
    font-size: 1.5em;
    font-weight: bold;
}

.upload-course-title + p {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/** 
 * Form Group Styles 
 */
.form-group, .content {
    margin-bottom: 15px;
}

.form-group label, .content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"], .form-group input[type="number"], .form-group textarea,
.content input[type="text"], .content input[type="number"],
.course-name p, .course-details p {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/** 
 * File Input Styles 
 */
input[type="file"] {
    margin-top: 10px;
}

/** 
 * Button Styles 
 */
button {
    background-color: #d9aa52;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-right: 10px;
}

button:hover {
    background-color: #c49545;
}

/** 
 * Modal Styles 
 */
 .modal {
    display: none; /* Hide modal initially */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    align-items: flex-start; /* Align items to the top */
    justify-content: center; /* Horizontally center */
    padding-top: 200px; /* Space to push below the navbar */
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 60%; /* Maximum width */
    display: flex;
    flex-direction: column;
    margin: auto; /* Center the modal content */
}


.modal-content input, .modal-content textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.modal-content h2, .modal-content h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/** 
 * Adjust Radio Buttons Container Style 
 */
.radioContainer {
    display: flex;
    flex-direction: row; /* Ensure the radio buttons and labels are side by side */
    align-items: center; /* Align items vertically centered */
    margin-bottom: 10px; /* Space between radio buttons and input fields */
}

.radioContainer input[type="radio"] {
    margin-right: 5px; /* Reduce space between radio button and label */
}

.radioContainer label {
    margin-right: 15px; /* Reduce space between each label */
}

/** 
 * Adjust the Input Container Style 
 */
.videoInputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Adjust as necessary to make it closer to the radio buttons */
    gap: 10px; /* Space between local file input and Vimeo search */
}

/** 
 * Adjust the Input Container Style 
 */
.videoInputContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between local file input and Vimeo search */
}

/** 
 * Button Container Style 
 */
.buttonContainer {
    display: flex;
    flex-direction: row;
}

/** 
 * Vimeo Video Styles 
 */

#vimeoVideoResults {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
#vimeoVideoResults  h4{
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.vimeo-video {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 10px); /* Two videos in a row with space in between */
}

.vimeo-video img {
    max-width: 100%;
    height: auto;
}



