* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; /* Get rid of excess white space horizontally */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  

.container {
    display: flex;
    margin-top: 30px;
}

.sidebar {
    width: 290px;
    background-color: #74676F;
    padding: 20px;
    transition: width 0.3s;
    margin-right: 25px;
    margin-top: 120px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    font-size: 24px;
}

.nav {
    margin-top: 20px;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #AE8381;
    color: white;
    font-weight: 1000;
}

.sub-nav {
    display: none;
    margin-left: 20px;
    color: white;
}

.sub-nav-item {
    padding: 5px 0;
    background-color: #AE8381;
    cursor: pointer;

}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #AE8381;
    margin-top: 120px;
}

.video-placeholder {
    width: 100%;
    height: 80vh;
    background-color: #aaa;
}

.review-section {
    margin-top: 30px;
    width: 80%;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review-rate{
  font-size: 20px;
}

.filter-sort {
    display: flex;
    font-size: 19px;
    font-weight: 480;
}

.filter, .sort {
    margin-left: 20px;
}

.filter option, .sort option{
    font-size: 17px;
}

.reviews {
    margin-bottom: 20px;
}

.review {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.review:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.review-content {
    display: flex;
}

.review-author {
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 80px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    overflow: hidden; /* Ensures the image does not overflow the container */
    border-radius: 50%; /* Makes the container circular */
    object-fit: cover; /* Ensures the image covers the container */
    margin-right: 20px;
}

.review-details {
    display: flex;
    flex-direction: column;
}

.review-details p{
    font-size: 18px;
}

.author-name {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 7px;
}

.rating {
    margin-top: 0px;
    margin-bottom: 7px;
}

.review-date {
    color: #888;
    margin-top: 15px;
}

.review-text p {
    font-size: 19px;
    margin-top: 7px;
}

.review-actions {
    display: flex;
    align-items: center;
}

.review-actions button {
    margin-left: 15px;
    background-color: #AE8381;
    font-size: 15px;
    font-family: 'Afacad';
}

.popup {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  text-align: center;
  position: relative; /* Added to position the close button relative to this container */
}

.popup-content h2{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}


.close {
  position: absolute; /* Position it absolutely within the popup-content */
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}




.rating .fa-star {
  color: #ddd;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 5px; /* Add some horizontal space between the stars */
}

.rating .fa-star.selected {
  color: gold;
}

.stars-popup {
  display: flex; /* Use flexbox to arrange items in a row */
  justify-content: center; /* Center the stars horizontally */
}

.stars-popup .fa-star {
  font-size: 60px;
  color: grey;
  cursor: pointer;
  margin: 0 5px; /* Add some horizontal space between the stars */
  transition: color 0.3s;
}

.stars-popup.fa-star:hover,
.stars-popup .fa-star.selected {
  color: gold;
}

.review .rating .fa-star {
  pointer-events: none;
}


textarea, input {
    width: 100%;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #333;
    resize: none;
}

.popup-content button{
  background-color: #74676F;
  align-items: center;
  height: 50px;
  width: 140px;
  margin-top: 30px;
  font-size: 20px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #AE8381;
    font-family: 'Afacad';
    font-size: 15px;
}

button:hover {
    background-color: white;
    font-family: 'Afacad';
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Header styling */
header {
    width: 100%; /* Set the width to 100% */
    height: auto;
    background-color: #F6f5f2; /* Set background color for the header */
  }
  
  /* Navbar styling */
  header .navbar {
    position: fixed; /* Fixed position to stay at the top */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: transparent;
    transition: background-color 0.3s; /* Smooth transition for background color */
    color: black; /* Adjust text color if needed */
    z-index: 100;
    padding: 20px;
  }

  .navbar .logo span {
    color: #9E9D89; /* Default color for the span within the logo */
  }
  
  /* Global Menu links styling */
  .navbar .menu-links {
    display: flex; /* Use flexbox for layout of menu links */
    list-style: none; /* Remove default list styles */
    padding-top: 15px;
    margin-right: 50px;
    gap: 30px; /* Set the gap between menu links */
    font-family: 'Afacad';
  }
  
  #account-menu-links a {
    color: black; /* Ensure color is black for account menu links */
  }
  
  .navbar a {
    padding-top: 8px;
    color: white; /* Default color for menu links */
    font-size: small; /* Set font size for menu links */
    text-decoration: none; /* Remove underline from menu links */
    transition: 0.2s ease; /* Add a smooth transition effect */
  }
  
  /* Mobile menu and hamburger button styling */
  #close-menu-btn {
    position: absolute; /* Set the position to absolute for the close menu button */
    right: 20px; /* Set the right position for the close menu button */
    top: 20px; /* Set the top position for the close menu button */
    cursor: pointer; /* Set cursor to pointer for the close menu button */
    display: none; /* Initially hide the close menu button */
  }
  
  #hamburger-btn {
    color: #c9beb4; /* Set text color for the hamburger button */
    cursor: pointer; /* Set cursor to pointer for the hamburger button */
    display: none; /* Initially hide the hamburger button */
  }
  
  /* Media queries for responsive design */
  /* Mobile view */
  @media (max-width: 600px) {
    header .navbar {
      padding: 10px;
    }
  
    header.show-mobile-menu::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 80%;
      backdrop-filter: blur(5px);
    }
  
    .navbar {
      z-index: 1000;
    }
  
    .navbar .logo {
      font-size: 1.7rem;
    }
  
    #hamburger-btn,
    #close-menu-btn {
      display: flex;
    }
  
    .navbar .menu-links {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: white;
      flex-direction: column;
      padding: 70px 40px 0;
      transition: left 0.2s ease;
    }
  
    header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar a {
      color: #D2B48C;
    }
  
    .navbar a:hover {
      color: #023030;
    }
  }
  
  @media (max-width: 1024px) {
    header .navbar {
      padding: 10px;
    }
  
    header.show-mobile-menu::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
    }
  
    .navbar {
      z-index: 1000;
    }
  
    .navbar .logo {
      font-size: 1.7rem;
    }
  
    #hamburger-btn,
    #close-menu-btn {
      display: flex;
    }
  
    .navbar .menu-links {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: white;
      flex-direction: column;
      padding: 70px 40px 0;
      transition: left 0.2s ease;
    }
  
    header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar a {
      color: #D2B48C;
    }
  
    .navbar a:hover {
      color: #023030;
    }
  }
  
  /* New footer terying out */
  .footer {
    background: #F4D9C6;
    padding: 20px 0px;
    text-align: center;
    margin-top: 60px;
    width: 1700px;
    height: 200px;
    font-family: 'Afacad';
  }

  .footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
  }
  
  .footer .row a {
    text-decoration: none;
    color: #F09872;
    transition: 0.5s;
  }
  
  .footer .row a:hover {
    color: #fff;
  }
  
  .footer .row ul {
    width: 100%;
  }
  
  .footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
  }
  
  @media (max-width: 600px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
  
    .footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
  
    .footer .row a i {
      margin: 0% 3%;
    }
  }
  